.btn-group-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-bg {
    background: url("../img/chess-king-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-nobg {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.tile {
    padding: 0 0 0 0;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    position: relative;
    border-width: 2px;
    border-color: black;
}

.black-tile {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.tile white-tile {
    background-color: #d6d8db;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
}

.piece {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.piece-icon {
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 3px;
}

.tile-valid {
    border: 2px solid orangered;
    border-style: double;
}

.promotion-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin-right:auto;
    margin-left:auto;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    margin-top: 40px;
}

.profile-image {
    position: absolute;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 36px;

    top: 50%;
    left:50%;

    opacity: 0.3;

    margin: -20px 0 0 -25px;
}

.username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    font-weight: 300;
    font-size: 14px;
}

.advantage {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 300;
    font-size: 12px;
    padding-left: 20px;
}

.taken-pieces-container {
    justify-content: center;
    align-items: center;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 1vw;
    margin-right: 3vw;
}

.turn {
    margin-top: auto;
    margin-bottom: auto;
}

.player-info-container {
    width: 740px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

    margin: 0 0 0 -90px;
}

.player-info {
    width: 400px;
    height: 80px;
    padding: 10px;

    position: absolute;
    left: 50%;

    margin-left: -200px;
    margin-bottom: -10px;
    margin-top: 0px;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.glow {
    animation: glow 2s ease-out;
}

@keyframes glow {
    0% { box-shadow: 0 0 -10px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 -10px #c4a300; }
}

.game,
.request {
    width: auto;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.request {
    position: relative;
}

.accept {
    /*position: absolute;*/
    width: 20px;
    height: 20px;
    border-color: black;
    border-width: 1px;
    background-image: url("../img/checkmark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 30%;
}

.cancel {
    /*position: absolute;*/
    width: 20px;
    height: 20px;
    border-color: black;
    border-width: 1px;
    background-image: url("../img/cancel.png");
    opacity: 30%;
}

.file-subscript {
    position: absolute;
    font-style: italic;
    font-size: 10px;
    font-weight: 100;
    text-align: right;
    width: 45px;
    top: 35px;
}

.chessboard-container {
    width: 740px;
    height: 400px;
    position: relative;

    margin: 0 0 0 -90px;
}

.chessboard {
    position: absolute;
    padding: 20px;

    width: 400px;
    height: 400px;

    top: 50%;
    left: 50%;

    margin: -200px 0 0 -200px;
}

.section {
    position: relative;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 50px;
    color: #fff;
}

.info {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
}

.vertical-glue {
    width: auto;
    height: 100px;
}

.tab {
    height: 900px;
    overflow-y: scroll;
}

.game-container {
    position: relative;
    width: 600px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

.game-body {
    position: absolute;
    width: 600px;
    height: 700px;
    padding: 20px;
    top: 50%;

    margin: -370px 0 0 0;
}
